<p id="notice"><%= notice %></p>

<p>
  <strong>Naziv:</strong>
  <%= @project.naziv %>
</p>

<p>
  <strong>Opis:</strong>
  <%= @project.opis %>
</p>

<p>
  <strong>Ukupno:</strong>
  <%= @project.ukupno %>
</p>

<p>
  <strong>Do sada:</strong>
  <%= @project.do_sada %>
</p>

<p>
  <strong>Aktivan:</strong>
  <%= @project.aktivan %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
